.container{
    width: 50%;
    padding: 30px;
    margin-top: 20px;
    border-radius: 4px;
    /* background-color: rgb(103, 101, 101);
    color: white; */
    border: 1px solid grey;
}

.question{
    font-size: 18px;
    font-family: "Poppins";
    text-transform: capitalize;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.option{
    border: 2px solid rgb(234, 230, 230);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 300;
    margin-top: 10px;
}

  

@media screen and (max-width: 767px){
    .container{
        width: 100%;
        padding: 20px;
    }

    .options{
        margin-top: 10px;
    }
}

